h1{
    font-size: 40px;
    color:white;
    margin-bottom:20px;
    font-family: "oswald";
   

}

.stat-cover{
    background-color: #2c2c2c;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    flex-direction: column;


}
.sp{
   margin:0;
   color:white;

}
p:last-of-type{
    margin-bottom:50px;

}

.flex-container1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    

}

.flex-number{
    font-size: 30px;
    font-weight: bold;
    margin: 0 80px 0 70px;
    color:white;
    text-align: center;
    vertical-align: middle;
    

}

.flex-word{
    font-size: 30px;
    margin: 0 50px 0 50px;
    color:white;
    text-align: center;
    vertical-align: middle;
    
    
}

.flex-word2{
    color:white;
    text-align: center;
    vertical-align: middle;
    font-size: 30px;
    margin-left: 40px;
    

}


